/* Reset default styles */
body, figure, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: bold;
}

/* Global styles */
body {
    font-family: 'Times New Roman';
    background-color: #8cbc8a;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */

.logo {
  margin-right: 50px;
  height: 100px; 
}

.logo img {
  width: 150px;
  height: 150px; 
}

header {
    background-color: #109927;
    /*background-image: url('img/bg4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    padding: 50px ;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

/* Introduction section styles */
#introduction {
    height: 500px;
    text-align: center;
    background-image: url('img/zz.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    background-color: #8cbc8a;
}

#introduction h1 {
  color: #000000;
  font-family: 'Gloock', serif;
  font-weight: bolder;
    font-size: 65px;
    margin-bottom: 20px;
}
#introduction img{
  width: 100px;
  height: 100px; 
}

#introduction p {
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-bottom: 20px;
}
.headline-container {
  display: flex;
}

.headline {
  margin-left: 10px;
  margin-right: 10px;
}
#flippers h2 {
  margin-right: 100px;
  margin-left: 250px;

}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00d000;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
}

/*flipper*/
.row {
  display: flex;
}

.container {
  flex: 1;
  align-items: center;
  background-color: #8cbc8a;
}

.gap {
  width: 150px;
}


.flip-container {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  align-items: center;
  
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}
/*z*/
.flip-containerz {
  perspective: 1000px;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
}

.flipperz {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.frontz, .backz {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.frontz {
  transform: rotateY(0deg);
}

.backz {
  transform: rotateY(180deg);
}

.flip-containerz:hover .flipperz {
  transform: rotateY(180deg);
}


/* Samples section styles */
#samples {
    text-align: center;
    padding: 50px;
    background-color: #8cbc8a;
}

#samples h2 {
    font-size: 40px;
    color: #000000;
    margin-bottom: 10px;
}

.intro-img {
    width: 250px;
    height: 250px;
    border-radius: 80%;
    margin: 0 20px;
}
.intro-img  {
    animation-name: fade-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .intro-img2 {
    width: 250px;
    height: 250px;
    border-radius: 80%;
    margin: 0 20px;
}
  .intro-img2  {
    overflow: hidden;
  }
  
  .intro-img2  {
    animation-name: slide-in;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    transform: translateX(0%);
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  

.img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    grid-gap: 10px; /* Adjust the gap between images */
  }
  
  figure {
    text-align: center;
  }
  
  img {
    width: 100%;
    height: auto;
  }
.circle-image {
    width: 250px;
    height: 250px;
    border-radius: 80%;
    margin: 0 20px;
}
.circle-image {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* About section styles */
.footer-basic {
  padding:40px 0;
  background-color:#109927;
  color:#000000;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #000000;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#000000;
  margin-bottom:0;
}
